#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  border: red 4px solid;
  padding: 2rem;
  margin: 1rem;
}
button {
  display: inline-block;

  padding: 2rem;
  border: none;
  color: white;
  background-color: rgb(62, 174, 174);
  border-radius: 15%;
  font-size: 1rem;
}

.p-1{
  border: solid red 1px;
  white-space: "pre-warp";
}

.menu{
  display: none;
}